<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Magento\Payment\Model\CcGenericConfigProvider">
       <arguments>
          <argument name="methodCodes" xsi:type="const">\Myuser\Payment\Model\Payment::CODE               
          </argument> 
       </arguments>
   </type>     
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
           <argument name="configProviders" xsi:type="array">
                <item name="myuser_config_provider" xsi:type="object">Myuser\Payment\Model\MyuserConfigProvider</item>
         </argument>
        </arguments>
    </type> 
            
    

</config>